<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>laughter</title>
  </head>
  <body>
    <header>
      <div class="heading">
        <h1 class="title"><a href="index.html">laughter</a></h1>
        <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet'>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li class="nav-lists_list"><a href="show.html">What's Laughter?</li>
          <li class="nav-lists_list"><a href="course.html">メニュー</a></li>
          <li class="nav-lists_list"><a href="contact.html">予約・問い合わせ</a></li>
        </ul>
      </div>
    </header>

    <div class="contents">
      <div class="first-view">
        <img src="images/5DD7A0F3-DEDF-44C8-B561-F1BE29F7C35D.jpeg" alt="トップ画面" class="top-image">
      </div>
      <div class="upper-content">
        <h2 class="heading-name">What's Laughter?</h2>
        <ul class="messages">
          <li class="message">
            <div>カウンセリングサロンLaughter(ラフター)は「笑顔で楽しい雰囲気」をモットーにするカウンセリングサロンを目指しています。<br><br>Laughterは日本語で「笑い声」という意味で<br>「Laughter is the best medicine.→笑いが一番の薬」という英語の言葉があるそうです。<br><br>カウンセリングサロンというと「固い」イメージがありますが、カウンセリングサロンLaughterではリラックスして、最後に笑い合えるカウンセリング環境に努めてまいります。</div>
          </li>
        </ul>
      </div>
    </div>

    <footer>
      <p>オンラインカウンセリングサロン Laughter</p>
    </footer>
  </body>
</html>